a{
    text-decoration: none;
    font-size: 22px;
    color: brown;
}
i{
    font-size: 20px;
    
}
header{
    background-color: cadetblue;
    padding: 10px 0;
}
.box{
    img{
        height: 250px;
    }
}
#seid{
    img{
        width: 10%;
    }
}